<ul>
  <li>
      <a routerLink="" mat-button color="primary">Primary</a>
  </li>
  <li>
    <a routerLink="" mat-button color="primary">Primary</a>
  </li>
  <li>
    <a routerLink="" mat-button color="primary">Primary</a>
  </li>
  <li>
    <a routerLink="" mat-button color="primary">Primary</a>
  </li>
  <li>
    <a routerLink="" mat-button color="primary">Primary</a>
  </li>
  <li>
    <a routerLink="" mat-button color="primary">Primary</a>
  </li>
  <li>
    <a routerLink="" mat-button color="primary">Primary</a>
  </li>
  <li>
    <a routerLink="" mat-button color="primary">Primary</a>
  </li>
  <li>
    <a routerLink="" mat-button color="primary">Primary</a>
  </li>
  <li>
    <a routerLink="" mat-button color="primary">Primary</a>
  </li>

</ul>
