:host {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.button-rev {
  position: relative;
}
.container {
  position: absolute;
  left: -9%;
  top: 109%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-radius: 13%;
  background-color: ghostwhite;
  :nth-child(even) {
    margin-top: 5px;
  }
}
