<div class="Id-item">
  <span>{{this.state.behaviourMainId$ | async}}</span>
  <span>{{this.state.behaviourSecondId$ | async}}</span>
</div>
<div class="host">
  <div class="wrapper">
    <swiper
      [effect]="'flip'"
      [grabCursor]="true"
      [pagination]="true"
      class="mySwiper"
    >
      <ng-template swiperSlide *ngFor="let img of dataImg">
        <img [src]="img" />
      </ng-template>
    </swiper>
    <div class="wrapper-text">
      <h2>{{dataName}}</h2>
      <span>{{dataRating}}-рейтинг</span>
      <span>Цена-{{dataPrice}}р.</span>
      <ng-container *ngIf="dataRating === 5">
        <mat-icon>done_outline</mat-icon>
      </ng-container>
    </div>
    <div class="wrapper-btn">
      <button mat-raised-button color="warn" (click)="enableDisableRule($event)">
        <span>В корзину</span></button>
      <button mat-button color="warn"   (click)="changeStateFavorite($event)">
        <span>Добавить в избранное</span></button>
    </div>
  </div>
  <div>
    <p>{{dataDescription}}</p>
  </div>

</div>

